body{
    margin: 0%;
    padding: 0.5% 0%;
    background-color: #f5f5f5;
}
#head
{
    width: 100%;
    background-color: #ffde2f;
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    align-items: center;
}
#head > img
{
    
    padding: 4%;
    height: 70%;
    margin-left: -3%;
    cursor: pointer;

}
body>img
{
    display: block;
    margin: auto;
    margin-bottom: 0.5%;
    cursor:pointer;
}
#head >img+img
{
    height: 40%;
    margin-right: -2.5%;
}
body >#head + img {
    margin-top: 1%;
    cursor: pointer;
}
body > div+img+ div
{
    width: 98%;
    margin: auto;
    background-color: #313131;
    display: flex;
    height: 50px;
    margin-top: 1%;

}
#tn
{
    background-color: #aaaaaa;
    color: #313131;
    padding: 1% 2%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#tnnext
{
    color: white;
    font-size: 18px;
    font-weight:lighter;
    padding: 1% 2%;
}
body > div > div:last-child  i{
    cursor: pointer;
}
body > div > div:last-child  i:hover
{
color: black;
background-color: white;
border-radius: 10px;
padding: 0.001%;
}
#container
{
    border: 0px solid black;
    display: flex;
    margin-top: 1%;
}
#SideMenu
{
    width: 22%;
    margin-top: 1%;
    
}

#SideMenu >div
{
    display: flex;
   margin: 2%;
    align-items: center;
    font-weight:500;
    padding-left: 3%;
    cursor: pointer;
    justify-content: start;
}
#SideMenu >div:hover
{
    background-color: #ffde2f;
}
a{
    text-decoration: none;
    color: black;
}
#news
{
    height: 600x;
    width: 50%;
    border: 0px solid black;
    
    
}
#advertisement
{
    border: 0px solid black;
    width: 28%;
    height: 600px;
}
#advertisement > div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ad2
{
    width: 80%;
    margin-top: 3%;
}
#top_news
{
    border: 0px solid green;
    width: 100%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
}
#main_img
{
    width: 100%;
}
#top_news ~ div
{
    display: flex;
    padding: 2%;
   margin-top: 2%;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}
#top_news ~ div > img
{
    width: 30%;

}
#top_news ~ div > p
{
    font-size: 17px;
    text-align: justify;
    margin-left: 2%;
}
#ad3
{
    margin-top: 2%;
}
#advertisement >  h3
{
    margin-left: 15%;
    
}
#mostViewed
{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    
    padding: 12%;
    margin-top: -14%;
    

}
#mostViewed  img
{
    width: 85%;
    
}
@media all and (min-width:481px) and (max-width:768px)
{
#SideMenu
{
    display: none;
}
#advertisement
{
    display: none;
}
#news
{
    width: 100%;
}
}

